<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
			     Texto del PIE
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
			 --- Texto copyrights ---

			</div><!-- #copyrights end -->

		</footer>