<footer id="footer" class="dark">

			<div class="container">

			     Texto del PIE<br>			     
			    
			     Contacta a través del e-mail: {{ contact_email }}
			     <br>
			</div>

		
			<div id="copyrights">
			 --- Texto copyrights ---

			</div>

</footer> 