{% extends 'hylookMainBundle:Default:layout.html.twig' %}
{% block header %}{{ include('hylookMainBundle:Default:header.html.twig') }}{% endblock %}
{% block slider %}{{ include('hylookMainBundle:Default:slider.html.twig') }}{% endblock %}
{% block content %}



			<div class="content-wrap">

				<div class="container clearfix">
					<div class="row clearfix">
				
					<div class="col-md-6 col-md-offset-3">
						<H1> Usando Bootstrap </H1>
							<div class="alert alert-success alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<strong> Hello! </strong>
							</div> 
					</div>
					

						<div class="col-lg-5">
							<div class="heading-block topmargin">						
								<h1>PAGINA DE INICIO</h1>
							</div>
							<p class="lead">Te invitamos a probar nuestro producto.</p>
							
						</div>

						<div class="col-lg-7">
						  <div class="heading-block topmargin">						
								<h1>Vamos a seguir</h1>
							</div>

							

						</div>

					</div>
				</div>
				
			

				<div class="clear"></div>

	</div>

	
{% endblock %}
{% block footer %}{{ include('hylookMainBundle:Default:footer.html.twig') }}{% endblock %}