<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

						<ul>
							<li class="current"><a href="{{ path('hylook_main_homepage')}}"><div>Inicio</div></a></li>
							<li class="current"><a href="{{ path('hylook_main_emisor')}}"><div>{% trans %}Emisor{% endtrans %}</div></a></li>
							<li class="current"><a href="{{ path('hylook_main_lector')}}"><div>Lector</div></a></li>
							<li class="current"><a href="{{ path('hylook_main_grupos')}}"><div>Grupos</div></a></li>				
												
						</ul>

						
					</nav><!-- #primary-menu end -->